@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url(/images/eagle.png); background-position: right; background-repeat: no-repeat; background-color: transparent; background-size:contain">
    <h1>Nationwide <b><span style="color: #0026ff">Go</span></b></h1>
    <p class="lead">Incentivize your goals and <span style="color: #0026ff">go</span> reach your fullest potential!</p>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2 style="text-align: center;"><span style="color: #ff0000">MANAGE</span> YOUR TEAMS</h2>
        <img src="~/images/team1.jpg" class="img-responsive" height="512" width="512"/>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;"><span style="color: #0026ff">JOIN</span> LEADERBOARDS</h2>
        <img src="~/images/compete.jpg" class="img-responsive" height="512" width="512"/>
        <p>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="text-align: center;"><span style="color: #ff6a00">BUILD</span> YOUR SKILLS</h2>
        <img src="~/images/build.jpg" class="img-responsive" height="512" width="512"/>
        <p>
        </p>
    </div>
</div>