<div class="container-fluid">
    <h1><b>TALENT INVENTORY</b></h1>
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal"><img class="thumbnail img-responsive" src="~/images/developer.png"></a></div>
        <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal1"><img class="thumbnail img-responsive" src="~/images/architect.png"></a></div>
        <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal2"><img class="thumbnail img-responsive" src="~/images/tester.png"></a></div>
        <div class="col-lg-3 col-sm-4 col-xs-6"><a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal3"><img class="thumbnail img-responsive" src="~/images/analyst.png"></a></div>
    </div>
    <hr>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DEVELOPER</h4>
      </div>
      <div class="modal-body">
        <p>
            <img class="thumbnail img-responsive" src="~/images/DeveloperPic.png"/>
        </p>
          <p>
              <img class="thumbnail img-responsive" src="~/images/Sr.DeveloperPic.png" />
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ARCHITECT</h4>
            </div>
            <div class="modal-body">
                <p><img class="thumbnail img-responsive" src="~/images/ArchitectPic.png"/></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">MANAGEMENT</h4>
            </div>
            <div class="modal-body">
                <p><img class="thumbnail img-responsive" src="~/images/ManagementPic.png" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">ANALYST</h4>
            </div>
            <div class="modal-body">
                <p><img class="thumbnail img-responsive" src="~/images/AnalystPic.png" /></p>
                <p><img class="thumbnail img-responsive" src="~/images/Sr. AnalystPic.png" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
